* {
    border-radius: 0 !important;
}

main {
    display: block;
    min-height: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.barra-topo {
    background-color: #88c02f;
    border: 0;
}

ul.menu-direita {
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
}
ul.menu-direita li {
    color: #fff;
    list-style: none;
    float: left;
    margin-left: 30px;
}

header.barra-topo a {
    color: #fff !important;
    text-decoration: none;
}
header.barra-topo a:hover {
    text-decoration: underline;
}


.btn-create {
    margin-bottom: 40px;
}

.elemento-pai-do-centralizado {
   display: table;
   width: 100%;
}
.elemento-centralizado {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}



.post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
